<form id="targobank-form" action="https://www.targobank.de/de/app/indirectloanrequest.html" method="POST">
    <input type="hidden" name="koop_id" value="villastore241">
    <input type="hidden" name="sessionID" value="SESSION_ID">
    <input type="hidden" name="amount" value="499.99">
    <input type="hidden" name="dealerID" value="804625">
    <input type="hidden" name="dealerText" value="YOUR_RETURN_URL">
    <input type="hidden" name="documentno" value="ORDER_NUMBER">
    <!-- Opsiyonel elemanlar -->
    <input type="hidden" name="dealerShopURL" value="SHOP_URL">
    <input type="hidden" name="dealerRejectURL" value="REJECT_URL">
    <input type="hidden" name="dealerAbortURL" value="ABORT_URL">
    <input type="hidden" name="hash" value="GENERATED_HASH">
    <button type="submit">Apply</button>
</form>
